body{
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  background-color: #244F26;
}

#header{
  color: white;
  text-align: center;
}

#content{
  display: flex;
  flex-wrap: wrap;
}

#sidebar{
  background-color: #DAD7CD;
  color: #000000;
  border-right-width: 15em;
  border-right-color: black;
  width: 20%;
  text-align: center;
}

#character{
  background-color: black;
  max-width: 80%;
  min-width: 70%;
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#search{
  background-color: #DAD7CD;
  width: 100%;
  text-align: right;
}

#search button {
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
}

#bio{
  background-color: #A3B18A;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 20px;
}

#info {
  flex-grow: 3;
  color: black;
  padding: 10px;
  text-align: left;
}

#image{
  flex-grow: 1;
}

#footer{
  background-color: #244F26;
  color: white;
  width: 100%;
  text-align: center;
}
#footer a{
  color: white;
}

button {
  width: 100%;
}

