body{
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  background-color: #244F26;
}

#header{
  color: #000000;
  text-align: center;
}

#content{
  display: flex;
  flex-wrap: wrap;
}

#sidebar{
  background-color: #DAD7CD;
  color: #000000;
  width: 20%;
  text-align: center;
}

#character{
  background-color: black;
  max-width: 80%;
  min-width: 70%;
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#search{
  background-color: #DAD7CD;
  width: 100%;
  text-align: right;
}

#search button {
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
}

#bio{
  background-color: #A3B18A;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 20px;
}

#info {
  flex-grow: 3;
  background-color: #000000;
  color: #329E14;
  padding: 10px;
}

.typewriter p, ul, li {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #329E14; }
}


#image{
  flex-grow: 1;
}

#footer{
  background-color: #244F26;
  width: 100%;
  text-align: center;
}
#footer a{
  color: white;
}

button {
  width: 100%;
}

